.ttt{

    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 140px;
    background: url(pictures/istockphoto-1164222265-170667a.jpg) ;
    width: 1500px;
    height:1000px;
    background-color: rgb(212, 224, 35);
    
    

}

span{

    
}